{% extends "base_login.html" %}
{% load staticfiles %}
{% block offer %}
 <!--Index page starts here-->
<div class="col-sm-9 col-sm-pull page-content" data-html-block="content">
             <!--content starts here-->
            <div class="webpage-content">

                    <article class="web-page-content" id="home">
                    <div class="container">

                <h1 class="nesweintro" style="text-align: center;"><br></h1>
                     <h1 class="nesweintro" style="text-align: center;color: #337ab7">
                         <b>Welcome To open source</b></h1>
                     <h2 class="nesyouintro" style="text-align: center;color: navy">we believe in open source</h2>
                        </div>
                    </article>
            </div>
             <!--content end here-->
</div>
     <!--index page end here-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 {% endblock %}